<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:l="http://www.linkorb.com/linkorbhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Developer documentation GROW-Services.net</title>
        <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="assets/style.css">
        <link rel="stylesheet" type="text/css" href="assets/html.css">
        
        <link href="http://fonts.googleapis.com/css?family=Signika:400,700" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header style="color: #ffffff; background-color: #000000; padding-bottom: 50px; padding-top: 50px;">
            <div class="container">
                <h1>GROW-Services.net</h1>
                <h2>Developer documentation</h2>
            </div>
        </header>
        <div id="content" class="container">
            {{{html}}}
        </div>
    </body>
</html>
