<html>
    <head>
        <title>Developer documentation GROW-Services.net</title>
        <link rel="stylesheet" type="text/css" href="assets/style.css">
        <link rel="stylesheet" type="text/css" href="assets/html.css">
         <link href="http://fonts.googleapis.com/css?family=Signika:400,700" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <h1>GROW-Services.net</h1>
            <h2>Developer documentation</h2>
        </header>
        <div class="page-breaker"></div> 
        <div id="content">
            {{CONTENT}}
        </div>
    </body>
</html>
